:root
{
    --wrapper-padding: 5em;

    --container-background-color: rgb(240, 240, 240);
    --container-width: 600px;
    --container-height: 700px;
    --container-radius: 2em;
    --container-padding: 2em;

    --top-width: 600px;
    --top-height: 100px;
    --top-font-size: 3em;
    --top-font-color: rgba(0, 0, 0, 0.7);

    --main-width: 600px;
    --main-height: 550px;

    --question-font-size: 1.75em;
    --question-font-color: rgba(0, 0, 0, 0.4);
    --question-margin-bottomm: 0.25em;
    --question-height: 60px;

    --answer-padding: 0.8em;
    --answer-font-size: 1.25em;
    --answer-font-color: rgba(0, 0, 0, 0.5);

    --button-padding: 0.8em;
    --button-color: rgb(0, 179, 179);
    --button-font-size: 0.7em;
    --button-font-color: rgb(255,255,255);
    --button-radius: 0.5em;
    --button-margin-top: 0.8em;

    --button-hover-color: rgba(0, 179, 179, 0.9);

    --button-active-color:rgb(2, 158, 158);

    --submit-width: 600px;
    --submit-height: 400px;
    --submit-margin-top: 150px;
    --submit-font-size: 2em;
    --submit-font-color: rgb(0, 179, 179);

    --refresh-margin-top: 50px;
    --refresh-hover-color: rgba(0, 179, 179, 0.9);
    --refresh-active-color:rgb(2, 158, 158);

    --bottom-width: 600px;
    --bottom-height: 50px;
    --bottom-font-size: 0.8em;
    --bottom-font-color: rgba(0, 0, 0, 0.5);
}

#wrapper
{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding:var(--wrapper-padding)
}

#container
{
    background-color: var(--container-background-color);
    width: var(--container-width);
    height: var(--container-height);
    border-radius: var(--container-radius);
    padding: var(--container-padding);
    box-shadow: 0 2px 5px rgb(209, 209, 209);
    font-family: 'Roboto', sans-serif;
}

span
{
    display: block;
}

#top
{
    width: var(--top-width);
    height: var(--top-height);
    font-size: var(--top-font-size);
    color: var(--top-font-color);
}


#main
{
    width: var(--main-width);
    height: var(--main-height);
}

#question
{
    height: var(--question-height);
    font-size: var(--question-font-size);
    color: var(--question-font-color);
    margin-bottom: var(--question-margin-bottomm)
}

.answer
{
    padding: var(--answer-padding);
    font-size: var(--answer-font-size);
    color: var(--answer-font-color);
}

button
{
    background-color: var(--button-color);
    padding: var(--button-padding);
    font-size: var(--button-font-size);
    color: var(--button-font-color);
    border-radius: var(--button-radius);
    border: none;
    margin-top: var(--button-margin-top);
}

button:hover
{
    background-color: var(--button-hover-color);
    cursor: pointer;
}

button:active
{
    background-color: var(--button-active-color);
}

#submit
{
    display: none;
    width: var(--submit-width);
    height: var(--submit-height);
    padding-top: var(--submit-margin-top);
    text-align: center;
    font-size: var(--submit-font-size);
}

#final-score, #max-score
{
    display: inline;
    color: var(--submit-font-color);
}

#refresh
{

    font-size: var(--submit-font-size);
    color: var(--submit-font-color);
    margin-top: var(--refresh-margin-top);
}

@keyframes rotate
{
    0% {transform: rotate(60deg);}
    20% {transform: rotate(120deg);}
    40% {transform: rotate(180deg);}
    60% {transform: rotate(240deg);}
    80% {transform: rotate(300deg);}
    100% {transform: rotate(360deg);}
}

#refresh:hover
{
    color: var(--refresh-hover-color);
    cursor: pointer;
    animation-name: rotate;
    animation-duration: 0.4s;
}

#refresh:active
{
    color: var(--refresh-active-color);
}

#bottom
{
    width: var(--bottom-width);
    height: var(--bottom-height);
    font-size: var(--bottom-font-size);
    font-weight: bold;
    color: var(--bottom-font-color);
    margin: auto;
    position: relative;
    border-top: 2px solid rgba(0, 0, 0, 0.1);
}

#bottom span
{
    display: inline;
}

#footer
{
    position: absolute;
    bottom: 1em;
}